.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    width: 100%;
    background-color: black;
    color: rgb(128, 93, 93);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header h1 {
    margin: 0;
    color: white;
}

.header div {
    flex: 1;
}
.header div:last-child {
    text-align: left;
}
.header div:last-child {
    text-align: right;
}

.mainIcon {
    padding: 0 20px;
    color: white;
    width: 50px;
}

.main {
    padding: 20px;
    margin: 0 auto;
}

.licence {
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.licence div {
    display: flex;
    flex-direction: row;
    align-items: center;
	margin-right: 2em;
	margin-left: 2em;

}
.licence a {
	margin-right: 2em;
}
